<a href="https://colab.research.google.com/github/joseluisech/titanic_base/blob/main/titanic_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
import pandas as pd

In [109]:
df = pd.read_csv('/content/sample_data/dirty_titanic - dirty_titanic.csv')

In [110]:
# 1. Muestren el centro del marco de datos.
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [111]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
901     True
902     True
903     True
904     True
905     True
Length: 906, dtype: bool

In [112]:
df.duplicated().sum()

15

In [113]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [114]:
df.nunique()

Unnamed: 0     891
PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              3
Age             88
SibSp            8
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   PassengerId  891 non-null    int64
 2   Survived     891 non-null    int64
 3   Pclass       891 non-null    int64
 4   Name         891 non-null    object
 5   Sex          891 non-null    object
 6   Age          714 non-null    float64
 7   SibSp        891 non-null    object
 8   Parch        891 non-null    int64
 9   Ticket       891 non-null    object
 10  Fare         891 non-null    float64
 11  Cabin        204 non-null    object
 12  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 97.5+ KB

In [116]:
df.isna().sum()

Unnamed: 0       0
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [117]:
mediana_edad = df['Age'].median()
df['Age'].fillna(mediana_edad, inplace=True)
df.isna().sum()

Unnamed: 0       0
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [118]:
df['Age'] = df['Age'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   891 non-null    int64
 1   PassengerId  891 non-null    int64
 2   Survived     891 non-null    int64
 3   Pclass       891 non-null    int64
 4   Name         891 non-null    object
 5   Sex          891 non-null    object
 6   Age          891 non-null    int64
 7   SibSp        891 non-null    object
 8   Parch        891 non-null    int64
 9   Ticket       891 non-null    object
 10  Fare         891 non-null    float64
 11  Cabin        204 non-null    object
 12  Embarked     889 non-null    object
dtypes: float64(1), int64(6), object(6)
memory usage: 97.5+ KB

In [119]:
num_missing = df['Cabin'].isna().sum()

total_rows = df.shape[0]

percent_missing = num_missing / total_rows
print(f'{percent_missing:.2f}% of the data in the Cabin column is missing')

0.77% of the data in the Cabin column is missing

In [120]:
df.drop(columns='Cabin', inplace=True)
df.isna().sum()

Unnamed: 0     0
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [121]:
df.dropna(subset=['Embarked'], inplace=True)
df.isna().sum()

Unnamed: 0     0
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [122]:
# 2. ¿Cuál es el porcentaje de las personas que sobrevivió? (pista: encuentren la media de la columna de supervivencia).
media_sobrevivientes= df['Survived'].mean()
print(f'{media_sobrevivientes*100}% de las personas sobrevivieron.')

38.24521934758155% de las personas sobrevivieron.

In [123]:
#3 ¿Cuántos de cada sexo sobrevivieron?
df['Sex'].value_counts()

male      574
female    311
F           4
Name: Sex, dtype: int64

In [124]:
df['Sex'] = df['Sex'].replace('F', 'female')
df['Sex'].value_counts()

male      574
female    315
Name: Sex, dtype: int64

In [125]:
#4 Si consideran solo el grupo de pasajeros que pagó menos de $10, ¿cuál sería el porcentaje de este grupo que sobrevivió?
filtro_tarifa = df['Fare']<10
filtro_tarifa.value_counts()

False    553
True     336
Name: Fare, dtype: int64

In [126]:
porcentaje_tarifa = (336/(555+336))
print(f'{porcentaje_tarifa*100}% de los sobrevivientes pagaron menos de 10$.')

37.71043771043771% de los sobrevivientes pagaron menos de 10$.

In [127]:
#5 En total, ¿cuál es la edad promedio de los que no sobrevivieron?
filtro_muertos = df['Survived']==0
filtro_muertos.value_counts()

True     549
False    340
Name: Survived, dtype: int64

In [128]:
df2 = df.loc[filtro_muertos, :]
df2.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S
5,5,6,0,3,"Moran, Mr. James",male,28,0,0,330877,8.4583,Q
6,6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,S
7,7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,S

In [135]:
filtro_muertos = df2['Survived']==0
filtro_muertos.value_counts()

True    549
Name: Survived, dtype: int64

In [133]:
promedio_edad= df2['Age'].mean().astype(int)
print(f'{promedio_edad} es la edad promedio de las personas que no sobrevivieron.')

30 es la edad promedio de las personas que no sobrevivieron.

In [140]:
#6 En total, ¿cuál es la edad promedio de los que sobrevivieron?
filtro_sobrevivientes = df['Survived']>=1
filtro_sobrevivientes.value_counts()

False    549
True     340
Name: Survived, dtype: int64

In [141]:
df3 = df.loc[filtro_sobrevivientes, :]
df3.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S
8,8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,S
9,9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,C

In [142]:
promedio_edad_sobrev= df3['Age'].mean().astype(int)
print(f'{promedio_edad_sobrev} es la edad promedio de las personas que sobrevivieron.')

28 es la edad promedio de las personas que sobrevivieron.

In [145]:
# 7¿Cuál es el promedio de edad de los que sobrevivieron y los que no sobrevivieron agrupado por sexo?
df.groupby(['Survived', 'Sex'])['Age'].mean().astype(int)

Survived  Sex
0         female    26
          male      30
1         female    28
          male      27
Name: Age, dtype: int64